* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: white;
}

/* Searchbox */

#searchbox {
  height: 57px;
  background: #fff;
  position: relative;
}

.ais-SearchBox {
  height: 100%;
}

.ais-SearchBox-input,
.ais-SearchBox-hint {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  color: #000;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
  box-shadow: none;
  padding-left: 2rem;
}

.ais-SearchBox-input {
  position: relative;
  z-index: 1;
}
.ais-SearchBox-input:focus {
  border-color: #ebebeb;
  box-shadow: none;
  outline: none;
}

.ais-SearchBox-hint {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Query suggestions */

#query-suggestions {
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  padding: 0;
}

#query-suggestions .ais-Hits-item {
  padding: 1.2rem 0;
  font-size: 0.95rem;
  box-shadow: none;
  padding-left: 2rem;
  font-family: 'Founders-Grotesk', Helvetica, sans-serif;
  color: #4b4b4b;
}

#query-suggestions .ais-Hits-link {
  cursor: pointer;
}

/* Products */

#products .ais-Hits-list {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 0.10714rem;
}

#products .ais-Hits-item {
  background: #f6f6f6;
  text-align: center;
  border-radius: 0;
  display: block;
  box-shadow: none;
  padding: 0;
}

.product-card {
  padding: 40px 0 20px;
}
.product-card__image {
  width: 100%;
  object-fit: cover;
}
.product-card__body {
  padding: 20px 30px;
}
.product-card__body p {
  font-size: 0.9rem;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

/* InstantSearch overrides */

.ais-Highlight-highlighted {
  font-weight: bold;
  font-style: normal;
  color: inherit;
  background: none;
}

.ais-Hits--empty {
  text-align: center;
  font-size: 1.2rem;
}

/* Breakpoints */

@media screen and (max-width: 768px) {
  #products .ais-Hits-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 480px) {
  #products .ais-Hits-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
