body {
  font-family: sans-serif;
}

main {
  display: flex;
}

main .ais-MultiselectHierarchicalMenu {
  width: 20rem;
  margin-right: 1rem;
}

main .ais-Hits {
  flex-grow: 1;
}

main .ais-Hits-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

main .ais-Hits-item {
  display: flex;
  justify-content: center;
  padding: 2rem;
}


@media (max-width: 900px) {
  main .ais-Hits-list {
    grid-template: 1fr / 1fr;
  }
}

li {
  list-style-type: none;
}

/* Widget */

.ais-MultiselectHierarchicalMenu-list {
  list-style: none;
}

.ais-MultiselectHierarchicalMenu-toggle {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  width: 1.2rem;
}

.ais-MultiselectHierarchicalMenu-label {
  cursor: pointer;
}

.ais-MultiselectHierarchicalMenu-label--active {
  font-weight: 600;
}
