body {
  font-family: sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  padding: 1rem;
}

main .refinements {
  flex-shrink: 0;
  min-width: 20rem;
  border-right: 1px solid #eee;
}

main .ais-Hits-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

main .ais-Hits-item {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}


@media (max-width: 900px) {
  main .ais-Hits-list {
    grid-template: 1fr / 1fr;
  }
}

/* Widget */

.ais-MultiselectHierarchicalMenu-list:not(:first-child) {
  padding-left: 1.2rem;
}

.ais-MultiselectHierarchicalMenu-toggle {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  width: 1.2rem;
}

.ais-MultiselectHierarchicalMenu-label {
  cursor: pointer;
}

.ais-MultiselectHierarchicalMenu-label--active {
  font-weight: 600;
}
